@import '../../variables.scss';

.day-picker {
    background-color: #f9f9f9;
    z-index: 1000;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .day-picker {
        display: none;
        top: 40px;
        position: absolute;

        &.active {
            display: block;
        }
    }
    .rdp-day,
    .rdp-weekday {
        height: 35px;
    }
}

@media screen and (max-width: 768px) {
    .day-picker {
        position: fixed;
        top: unset;
        left: 0;
        bottom: 0;
        width: 100vw;
        transform: translateY(200%);
        transition: transform 0.3s ease-in-out;

        &.active {
            transform: translateY(0);
        }
    }
    .rdp-day_button,
    .rdp-weekday {
        height: 50px;
    }
}

.rdp-months {
    position: relative;
}

.rdp-month_caption {
    border-bottom: 1px solid $border-color;
    padding: 20px;
}

.rdp-month_grid {
    padding: 10px;
    table-layout: fixed;
    width: 100%;
}

.rdp-nav {
    .rdp-button_previous,
    .rdp-button_next {
        position: absolute;
        background-color: transparent;
        top: 15px;
        padding: 0 20px;

        svg {
            width: 16px;
        }
    }
    .rdp-button_next {
        right: 0;
    }
}

.rdp-month_caption {
    text-align: center;
}

.rdp-day {
    text-align: center;
}

.rdp-day_button {
    padding: 0;
    background-color: transparent;
}
