@import '../../variables.scss';

.header {
    position: fixed;
    width: 100%;
    padding: 0 60px 20px;
    left: 0;
    margin-left: 50%;
    background-color: #fff;
    z-index: 1;
    &.center {
        position: relative;
        margin-left: 0;
        padding: 0;
        img {
            display: block;
            margin: 0 auto;
        }
    }
}

.content {
    padding: 20% 0 5%;
}

.body {
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.intro {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 20%;
}
.title,
.description {
    width: 50%;
}
.title {
    font-size: 28px;
    text-transform: uppercase;
}
.description {
    font-size: 14px;
    color: $secondary-color;
}

@media screen and (max-width: 768px) {
    .header {
        margin-left: 0;
        padding: 0 20px;
        top: 80px;
        &.center {
            top: 0;
        }
    }
    .content {
        padding: 25% 0 5%;
    }
    .intro {
        flex-direction: column;
        gap: 20px;
        align-items: start;
    }
    .title,
    .description {
        width: auto;
    }
}
